<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget Index</title>
</head>
<body>
    <h1>Budget show page</h1>
    <ul>
        <li><%=budget.date; %></li> 
        <li><%=budget.name; %></li> 
        <li><%=budget.from; %></li> 
        <li><%=budget.amount; %></li> 
        <li><%=budget.tags; %></li> 
    </ul>
        
</body>
</html>