<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget Index</title>
    <link rel="stylesheet" href='/css/skeleton.css'>
    <link rel="stylesheet" href='/css/normalize.css'>
</head>
<body>
    <div class = "container">
    <h2><%=budget.name; %></h2>
    <a href="/budget" class="back-button">Back</a>
    <h1>date</h1>
    <p><%=budget.date; %></p>
    <h1>name</h1>
    <p><%=budget.name; %></p>
    <h1>from</h1>
    <p><%=budget.from; %></p>
    <h1>amount</h1>
    <p><%=budget.amount; %></p>
    <h1>tags</h1>
    <p><%=budget.tags; %></p>
    </div>
</body>
</html>